<div [ngClass] = "makeHomeDull ? 'home-container-dull' : 'home-container'">

<nav class="navbar">
    <button (click)="toggleAddUserForm()" class="addUserButton">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
            <path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z"/>
        </svg>
        <span>New</span>
    </button>

    <button (click)="deleteSelectedUsers()" [ngClass]="atleastOneUserSelected ? 'deleteUserButtonDark' : 'deleteUserButton'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
        </svg>
        <span>Delete</span>
    </button>
    <button (click)="toggleUpdateUserForm()" class="updateUserButton">~Update</button>
</nav>   
 
 
<div class="custom-background">
        
    @if(isEmpty) { 
    <p class="text-red">No users found.</p>
    } @else {

    <div class="userListContainer">
        <div class="listTitle">
            <input type="checkbox" (change)="selectAll($event)" style="flex:0.1;" >
            <p style="flex: 0.25;">Id</p>
            <p>Name</p>
            <p>Address</p>
            <p>Mobile Number</p>
        </div>
        @for(user of users; track user.id) {
        <div class="userListItem">
            <input type="checkbox" (change)="onCheckBoxChange($event, user.id)" [checked]="selectedUsers.includes(user.id)" style="flex:0.1;">
            <p style="flex:0.25">User ID: {{ user.id }}</p>
            <p>{{ user.name }}: </p>
            <p>Address: {{ user.address }}</p>
            <p>Mobile Number: {{ user.mobile_number }}</p>
        </div>
        }
    </div>
    }

    <add-user [isVisible]="showAddUserForm" (close) = "handleFormClose()"></add-user>
    <update-user [showIdForm]="showUpdateUserForm" (closeForm)="handleUpdateFormClose()"></update-user>
</div> 
 
</div>