<div [ngClass] = "makeHomeDull ? 'home-container-dull' : 'home-container'">

<nav class="">
    <button (click)="toggleAddUserForm()">Add User</button>
    <button (click)="deleteSelectedUsers()">Delete Users</button>
    <button (click)="toggleUpdateUserForm()">Update User</button>
</nav>   
 
 
<div class="custom-background">
        
    @if(isEmpty) { 
    <p class="text-red">No users found.</p>
    } @else { 
    <p>Users are available.</p>

    <h2>List of Users</h2>

    <div class="userListContainer">
        @for(user of users; track user.id) {
        <div class="userListItem">
            <input type="checkbox" (change)="onCheckBoxChange($event, user.id)">
            <h3>{{ user.name }}: </h3>
            <pre>User ID: {{ user.id }},  Address: {{ user.address }},    Mobile Number: {{ user.mobile_number }}</pre>
        </div>
        }
    </div>
    }

    <add-user [isVisible]="showAddUserForm" (close) = "handleFormClose()"></add-user>
    <update-user [showIdForm]="showUpdateUserForm" (closeForm)="handleUpdateFormClose()"></update-user>
</div> 
 
</div>